* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: LibreBaskerville;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

@font-face {
  font-family: Fredoka;
  src: url("../fonts/Fredoka/Fredoka-VariableFont.ttf");
}

html {
  font-family: Fredoka;
  font-size: 62.5%;
  overflow: hidden;
  background-color: rgb(125, 180, 200);
}

main {
  section {
    width: 40rem;
    margin: 0 auto;

    h1 {
      font-size: 4.2rem;
      text-align: center;
      padding: 2rem 0;
    }

    .icon-flex {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

    form {
      display: grid;
      grid-template-columns: 1fr 3fr;
      align-items: center;
      gap: 2rem;
      width: 30rem;
      margin: 0 auto;

      img {
        width: 5rem;
        height: 5rem;
      }

      div {
        display: flex;
        flex-direction: column;

        label {
          font-size: 2rem;
          padding: 0.5rem 0;
        }

        input {
          height: 3.2rem;
          font-size: 2rem;
          color: grey;
        }
        #billInput {
          width: 15rem;
        }
        #personsInput {
          width: 10rem;
        }
        #service {
          width: 18rem;
        }

        select {
          width: 22rem;
          height: 3.2rem;
          font-size: 1.8rem;
          color: gray;
        }
      }
    }

    button {
      width: 14rem;
      height: 6rem;
      background-color: #fff;
      font-family: Fredoka;
      font-size: 1.8rem;
      grid-column: 2/3;
      margin-top: 1.5rem;
    }

    .output {
      margin-left: 5rem;
      padding-top: 3rem;

      .result {
        font-size: 2rem;
        padding: 0.2rem 0;
        display: flex;
        align-items: center;

        img {
          margin: 0.5rem 0;
        }

        p {
          margin-left: 4rem;
        }
      }

      #invalid {
        font-size: 1.2rem;
        color: crimson;
        width: 30rem;
      }
    }
  }
}

footer {
  position: absolute;
  bottom: 0;
  a {
    color: #000;
    text-decoration: none;
    margin-left: 6.5rem;
  }
}

.border {
  border: 2px solid #000;
  border-radius: 2rem;
  box-shadow: 1px 1px 20px rgb(250, 145, 33), -1px 1px 20px rgb(250, 145, 33),
    -1px -1px 20px rgb(250, 145, 33), 1px -1px 20px rgb(250, 145, 33);
  width: 43rem;
  height: 67rem;
  margin: 10% auto;
  position: relative;
  background-image: url("../img/marina-zaharkina-OGwLyoTncI8-unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
