* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: LibreBaskerville;
  src: url("../fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf");
}

html {
  font-size: 62.5%;
}

section {
  font-family: LibreBaskerville;
  width: 50rem;

  h1 {
    font-size: 5rem;
    text-align: center;
    padding: 2rem 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    img {
      width: 2rem;
      height: 2rem;
    }

    label {
      font-size: 2rem;
    }

    input {
      width: 20rem;
      height: 4rem;
      font-size: 2.5rem;
    }

    select {
      width: 22rem;
      height: 4rem;
      font-size: 2rem;

      margin-bottom: 10rem;
    }

    button {
      width: 20rem;
      height: 4rem;
    }
  }

  .result {
    margin-left: 10rem;
    padding-top: 5rem;
    p {
      font-size: 2rem;
      padding: 0.2rem 0;
    }
  }
}
